.bg-dark1-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(36 36 41/var(--tw-bg-opacity));
}

.text-primary-500 {
    --tw-text-opacity: 1;
    color: rgb(244 202 100/var(--tw-text-opacity));
}

.bg-dark2-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(22 23 23/var(--tw-bg-opacity));
}

.bg-primary-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(244 202 100/var(--tw-bg-opacity));
}

.bg-dark2-500 {
    --tw-bg-opacity: 1;
    background-color: rgb(22 23 23/var(--tw-bg-opacity));
}

.text-dark1-500 {
    --tw-text-opacity: 1;
    color: rgb(36 36 41/var(--tw-text-opacity));
}